<mat-toolbar>  
  <mat-toolbar-row>
    <span><a mat-stroked-button routerLink="/">My Toolbar</a></span>
    <span class="spacer"></span>
    <a mat-button routerLink="/create" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">New Post</a>
    <a mat-button routerLink="/login" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Login</a>
    <a mat-button routerLink="/signup" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Signup</a>
  </mat-toolbar-row>
</mat-toolbar>
