mat-form-field {
    width: 500px;
    display: flex;
    justify-content: center;
}

.pick-image-container {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0;
}

.image-preview {
    height: 5rem;
    border-radius: 6px;
    margin: 1rem 0;

    img {
        height: 100%;
    }
}